body {
    background-color: azure;
}

.cardContainer {
    margin-top: 30px;
}

.cards {
    padding-left: 20%;
    padding-right: 20%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.card {
    border-radius: 10px;
    padding-left: 20px;
}

.card h2 {
    color: white;
}

.card1 {
    background-color: lightseagreen;
}

.card2 {
    background-color: darkorchid;
}

.card3 {
    background-color: indianred;
}